<form [formGroup]="myForm" (ngSubmit)="action()">

    <div>
        <label>
            First name:
            <input [(formControl)]="name">
        </label>
        <div *ngIf="name.errors?.required" [class]="['warning', 'margin80']">
            this is required input
        </div>
        <div *ngIf="!!name.errors?.minlength" [class]="['warning', 'margin80']">
            min length - {{name.errors?.minlength?.requiredLength }}
            actual length - {{name.errors?.minlength?.actualLength}}
        </div>
    </div>

    <div>
        <label>
            Age:
            <input [formControl]="age" type="number">
        </label>
        <div *ngIf="age.errors?.required" [class]="['warning', 'margin40']">
            this is required input</div>
        <div *ngIf="age.errors?.notAge" [class]="['warning', 'margin40']">
            not normal age</div>
    </div>
    <div>
        <label>
            Phone number:
            <input [formControl]="phone">
        </label>
        <div *ngIf="phone.errors?.required" [class]="['warning', 'margin100']">
            this is required input</div>
        <div *ngIf="!!phone.errors?.minlength" [class]="['warning', 'margin100']">
            min length - {{phone.errors?.minlength?.requiredLength}}
            actual length - {{phone.errors?.minlength?.actualLength}}</div>
        <div *ngIf="!!phone.errors?.maxlength" [class]="['warning', 'margin100']">
            max length - {{phone.errors?.maxlength?.requiredLength}}
            actual length - {{phone.errors?.maxlength?.actualLength}}</div>
    </div>
    <div>
        <button [disabled]="myForm.invalid" (click)="checkInput()">save</button>
    </div>
</form>

<p></p>
<app-user *ngFor="let item of user" [user]="item">
    <p></p>
</app-user>